
@media only screen {
	
	body {
		background-color: #404040;
		margin: 0px;
		margin-right:0px;
		margin-left: 0px;
		margin-top: 0px;
		/*text-align: center;*/
	}	

	
	.fast_con{
		background-color: #2E8B57;
		text-align: center;
		overflow: hidden;
	}

	.fast_con .row{
		background-color: #2E8B57;
		padding-left: 10%;
		padding-right:10%;
		width:101%;
		align-content: center;
		height: 100%;
		color:white;
	}


	.fast_con .col-md-2 .col-sm-4 {  
		background-color: #2E8B57;
		padding-bottom:2%;
		padding-top: 2%;
		align-content: center;
	}

	.fast_con .col-md-2 .col-sm-4 p{
		color:white;
		width:70%;
		text-align: center;
		font-size:100%;
		padding:1.5%;
		margin: 0%;
		margin-right:0%;
		padding-bottom: 10%;

	}

	.fast_con .col-md-2:hover {
		background-color: #303030;
	}

	.library_services{
		background-color: white;
		overflow: hidden;
		align-content: center;
		margin: 0;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-right: 4%;
		padding-left: 4%
	}

	.library_services .row{
		margin:0 auto;
	}

	.library_services .col-md-2 .col-sm-6{
		color:black;
		float: left;
		width: 120%;
		align-content: center;
		margin-right:0%;
		margin:0 auto;

	}

	.library_services .col-md-2 p{	
		background-color:#DCDCDC;
		margin: 0%;
		width: 100%;
		font-size: 140%;
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-top: 3%;
	}

	.library_services .col-md-2 .col-sm-6 p1{
		margin: 0%;
		width: 100%;
		font-size: 80%;
	}

	.library_services .col-md-2:hover {
		opacity: 0.7;
	}

	.second_fast_con{
		background-color: #2E8B57;
		text-align: center;
		overflow: hidden
	}

	.second_fast_con .row{
		background-color: #2E8B57;
		padding-left: 9%;
		padding-right:9%;
		width:101%;
		align-content: center;
		height: 100%;
	}
	.second_fast_con .col-md-3{
		background-color: #2E8B57;
		float: left;
		padding-right: 0%;
		align-content: center;
		padding-left: 0%;
		padding-bottom: 1%;
		padding-top: 1%;
	}

	.second_fast_con .col-md-3 p{
		color:white;
		width:100%;
		text-align: center;
		font-size:100%;
		margin: 0%;
		margin-right:0%;
	}

	.second_fast_con .col-md-3:hover{
		background-color: #303030;
	}
	.footer_info{
		list-style:none;
		background-color:#404040;
		color:white;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 2%;
		font-size: 65%;
	}

	.footer_info a{
		color:white;
	}

	.fa {
		padding-right: 10px;
		font-size: 30px;
		width: 30px;
		text-align: center;
		text-decoration: none;
	}
}

@media only screen and (max-width:375px){
	.top_buttons{
		background-color:#404040;
		width: 150%;
	}

	.top_buttons a{
		text-decoration:none;
		color:white;
		font-family:arial;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.top_buttons img{
		float:left;
		height:30px;
		width:36px;
		padding-left: 2%;
		padding-right: 1%;


	}

	.top_buttons .buttons{
		visibility: hidden;
	}

	.top_search{
		text-align: right;
		float:right;
		background-color: white;
		width:100%;
	}

	.top_search .search_in input{
		visibility: hidden;
		
	}

	.top_search .search_in{
		float:right;
		width:40%;
	}

	.top_search img {
		float:left;
		height:50px;
		width:200px;
		padding-left: 3%;
	}

	.cover_page{
		width:100%;
		position: relative;
		text-align: center;
		color: white;
		margin: 0px;
		margin-right:0px;
		margin-left: 0px;
		margin-top: 0px;
	}

	.cover_page img{
		width:100%;
	}

	.Library_uni {
		color:white;
		background-color:#404040;
		padding-bottom: 1%;
		padding-right: 5%;
		padding-left: 5%;
		padding-top: 1%;
		width:100%;
		font-size:150%;
	}

	.one_search{
		width:100%;
		font-family:arial; 
		background-color: #DCDCDC;
		font-size: 100%;
		padding-top: 2%;
		padding-bottom:3%;
		padding-left: 1%;
		padding-right: 1%; 
	}

	.one_search p{
		text-align: center;
		font-size: 100%;
		color:black;
		/*padding between find course,search input and hrefs*/
	}

	.one_search a{
		text-decoration:none;
		text-align: center;
		color:#A00000 ;
		font-weight:bold;
		font-family:arial;
		padding: 0% 1%;
		font-size: 80%;
	}

	.one_search h2{
		text-align: center;
		color:#303030;
		font-weight:normal;
		font-size: 100%;

	}

	.one_search a:hover{
		color:red;
	}

	.one_search input{
		width:100%;
		font-size:100%;
		padding-left:2%;
		padding-right: 2%;
		margin-bottom: 2%;
	}

	.one_search select{
		width:49%;
		font-size:100%;
		padding-left:2%;
		padding-right: 2%;
		padding-top: 0.5%;
		padding-bottom:0.5%;
	}

	.one_search button{
		background-color:#A00000;
		color:white;width:49%;
		font-size:100%;
		padding-left:2%;
		padding-right: 2%;
	}

	.fast_con img{
		width: 50px;
		height: 50px;
	}

	.fast_con{
		background-color: #2E8B57;
		text-align: left;
		overflow: hidden
	}
	.fast_con .row{
		align-content: left;
		width:105%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		padding-bottom: 3%
	}

	.fast_con  p{

		color:white;
		width:60%;
		text-align: left;
		font-size:100%;
		padding:1.5%;
		margin: 0%;
		margin-right:0%;
	}

	.library_services .col-md-2 p{	
		background-color:#DCDCDC;
		margin: 0%;
		width: 100%;
		font-size: 90%;
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-top: 3%;
	}

	.library_services  p1{
		margin: 0%;
		width: 100%;
		font-size: 60%;
	}	

	.library_services .col-md-2 .col-sm-6{
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.second_fast_con{
		text-align: left;
	}

	.second_fast_con .row{
		align-content: left;
		width:105%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		padding-bottom: 3%;		
	}

	.second_fast_con span{
		text-align: left;
		color: white;
	}

	.second_fast_con img{
		width: 50px;
		height: 50px;
	}

	.second_image img{
		width:100%;
	}

	.Library_extension{
		background-color:white;
		font-size: 80%;
		color:black;
		padding-bottom: 0.5%;
		padding-right: 2%;
		padding-top: 0.8%;
		padding-left: 2%;
		width: 100%;
	}



	.Library_extension button{
		width:33%;
		font-size:80%;
	}

	.News{
		padding-top:3%;
		padding-bottom: 2%;
		color:white; 
		background-color: #2E8B57;
		padding-left: 2%;
	}
	.carousel{
		background:white;
		padding-top:5%;
		color:black;
	}
	.carousel-item{
		text-align: center;
		min-height: 150px; /* Prevent carousel from being distorted if for some reason image doesn't load */
		
	}
	.carousel-item img{
		width:60%;

	}
	.carousel-caption{
		color:black;
	}

	.carousel-control-prev{
		background-color:#404040;
	}

	.carousel-control-next{
		background-color: #404040;
	}

	.footer_info{
		list-style:none;
		background-color:#404040;
		color:white;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 2%;
		font-size: 65%;
	}

}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	/* For tablets: */
	.one_search{
		width:100%;
		font-family:arial; 
		background-color: #DCDCDC;
		font-size: 150%;
		padding-top: 2%;
		padding-bottom:3%;	
	}

	.one_search p{
		text-align: center;
		font-size: 70%;
		color:black;
		padding: 0.5%;      /*padding between find course,search input and hrefs*/

	}

	.one_search a{
		text-decoration:none;
		color:#A00000 ;
		font-weight:bold;
		font-family:arial;
		padding: 0% 1%;
	}

	.one_search h2{
		text-align: center;
		color:#303030;
		font-weight:normal;

	}

	.one_search a:hover{
		color:red;
	}
	
	.top_buttons .buttons{
		visibility: hidden;
	}

	.top_buttons{
		text-align: right;
		padding-bottom: 0.8%;
		padding-right: 7%;
		padding-top: 0.8%;
		background-color:#404040;
		width:150%;
	}

	.top_buttons a{
		text-decoration:none;
		color:white;
		font-family:arial;
		padding-left: 1%;

	}

	.top_buttons img{
		float:left;
		height:25px;
		width:30px;
		padding-left: 10px;
	}

	.top_search{
		text-align: right;
		float:right;
		background-color: white;
		width:100%;
	}

	.top_search .search_in input{
		visibility: hidden;	
	}

	.top_search .search_in{
		float:right;
	}

	.top_search img {
		float:left;
		height:50px;
		width:200px;
		padding-left: 10px;
	}


	.one_search{
		width:100%;
		font-family:arial; 
		background-color: #DCDCDC;
		font-size: 150%;
		padding-top: 2%;
		padding-bottom:3%;


	}


	.one_search p{
		width: 100%;
		text-align: center;
		font-size: 70%;
		color:black;
		padding: 0.5%;      /*padding between find course,search input and hrefs*/

	}

	.one_search input{
		width:60%;
		font-size:80%;
		padding:0.5% 0.5%;
	}

	.one_search select{
		width:26%;
		font-size:100%;
		padding:0.4% 0.5%;
		padding-bottom: 0.7%;
	}

	.one_search button{
		background-color:#A00000;
		color:white;
		width:10%;
		font-size:80%;
		padding:0.5% 0.5%;
	}

	.one_search a{
		text-decoration:none;
		color:#A00000 ;
		font-weight:bold;
		font-family:arial;
		padding: 0% 1%;
	}

	.one_search h2{
		text-align: center;
		color:#303030;
		font-weight:normal;

	}

	.one_search a:hover{
		color:red;
	}

	.fast_con img{
		width: 90px;
		height: 90px;
		margin-left: 15%;
		margin-right: 15%;
	}

	.fast_con .row{
		width:102%;
		padding-top: 0%;
		padding-bottom: 0%;
		font-size:130%;
	}

	.library_services .col-sm-6{
		color:black;
		float: left;
		width: 100%;
		margin-right:0%;
		margin-left:0;

	}

	.img-fluid {
		max-width: 100%;
		height: auto;
	}




	.second_image img{
		width:150%;
	}

	.library_services .col-sm-6 p{	
		background-color:#DCDCDC;
		margin: 0%;
		width: 100%;
		font-size: 100%;

	}

	.library_services .col-sm-6 p1{
		margin: 0%;
		width: 100%;
		font-size: 70%;

	}

	.second_fast_con .row{
		background-color: #2E8B57;
		padding-left: 9%;
		padding-right:9%;
		padding-bottom: 0%;
		padding-top: 0%;
		font-size: 130%;
		color:white;
		align-content: center;
	}



	.second_fast_con img{
		width: 90px;
		height: 90px;
		margin-left: 32%;
		margin-right: 32%;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 2%;
		padding-right: 2%;
	}

	.second_fast_con .row{
		width: 102%;

	}


	.cover_page{
		width:100%;
		position: relative;
		text-align: center;
		color: white;
		margin: 0px;
		margin-right:0px;
		margin-left: 0px;
		margin-top: 0px;
	}

	.cover_page img{
		width:100%;
	}

	.Library_uni {
		color:white;
		background-color:#404040;
		padding-bottom: 1%;
		padding-right: 5%;
		padding-left: 5%;
		padding-top: 1%;
		width:100%;
		font-size:220%;
	}

	


	.Library_extension{
		background-color:#E8E8E8;
		position: absolute;
		top: 307%;
		left: 25%;
		font-size: 60%;
		color:black;
		padding-bottom: 0.5%;
		padding-right: 2%;
		padding-top: 0.8%;
		padding-left: 2%;
		opacity: 0.9;
		width: 22%;
	}

	.Library_extension button{
		width:80%;
		font-size:90%;
	}

	.News{
		padding-top:2%;
		padding-bottom: 2%;
		color:white; 
		background-color: #2E8B57;
		padding-left: 0%;
	}

		.carousel{
		background:white;
		padding-top:5%;
		color:black;
	}
	.carousel-item{
		text-align: center;
		min-height: 240px; /* Prevent carousel from being distorted if for some reason image doesn't load */
		
	}
	.carousel-item img{
		width:60%;

	}
	.carousel-caption{
		color:black;
	}

	.carousel-control-prev{
		background-color:#404040;
	}

	.carousel-control-next{
		background-color: #404040;
	}


}


@media only screen and (min-width: 768px) {

	header {

		width:100%;
		margin: 0px;
		margin-right:0px;
		margin-left: 0px;
		margin-top: 0px;
	}

	.top_buttons{
		text-align: right;
		padding-bottom: 0.8%;
		padding-right: 7%;
		padding-top: 0.8%;
		background-color:#404040;
		padding-left: 4.1%;
	}

	.top_buttons a{
		text-decoration:none;
		color:white;
		font-family:arial;
		padding: 0% 0.4%;

	}

	.top_buttons img{
		float:left;
		height:30px;
		width:40px;
		padding-left:1%;

	}

	a:hover{
		text-decoration: underline;
	}

	.top_search{
		text-align: right;
		float:right;
		background-color: white;
		width:100%;
		padding-right: 0%;
		padding-top: 2%;
		padding-bottom: 0.5%;
		margin: 0px;
	}

	.top_search img {
		float:left;
		height:80px;
		width:500px;
		padding-left: 6%;
	}

	.top_search .search_in {
		padding-top: 1%;
	}
	/*.navbar-nav {
		width:100%;
		background-color: #A00000   ;
		padding-left: 6%;
		color:white;
		text-decoration: none;
		margin left: 0%;
		margin-right: 0%;

		
	}
	*/

	.navbar-custom {
		background-color:#A00000;
		padding-left: 5%;
		padding-top: 0%;
		padding-bottom: 0%;
	}


	.navbar-custom a:hover{
		background-color: white;
		color:black;
	}

	.dropdown-toggle{
		font-family:arial;
		font-size: 120%;  
		border: none;
		outline: none;
		color: white;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
		text-decoration: none;
	}

	.cover_page{
		position: relative;
		text-align: center;
		color: white;
		margin: 0px;
		margin-right:0px;
		margin-left: 0px;
		margin-top: 0px;
	}

	.cover_page img{
		width:100%;
	}

	.Library_uni{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 240%;
		color:black;
		background-color:#E8E8E8;
		padding-bottom: 1%;
		padding-right: 5%;
		padding-top: 1%;
		padding-left: 5%;
		opacity: 0.8;

	}

	.one_search{
		width:100%;
		font-family:arial; 
		background-color: #DCDCDC;
		font-size: 150%;
		padding-top: 2%;
		padding-bottom:3%;
	}


	.one_search p{
		text-align: center;
		font-size: 70%;
		color:black;
		padding: 0.5%;      /*padding between find course,search input and hrefs*/

	}

	.one_search input{
		width:31%;
		font-size:81%;
		padding:0.5% 0.5%;
	}

	.one_search select{
		width:15%;
		font-size:100%;
		padding:0.5% 0.5%;
	}

	.one_search a{
		text-decoration:none;
		color:#A00000 ;
		font-weight:bold;
		font-family:arial;
		padding: 0% 1%;
	}

	.one_search h2{
		text-align: center;
		color:#303030;
		font-weight:normal;

	}

	.one_search a:hover{
		color:red;
	}


	.student1{
		color:black;
	}

	.information {
		text-align: left;
		font-family:arial; 
		background-color: white;
		font-size: 100%;
		padding-top: 3%;
		padding-right: 12%;
		padding-bottom: 3%;
		padding-left: 12%;
	}
	.fast_con{
		background-color: #2E8B57;
		align-content: center;
		overflow: hidden

	}

	.fast_con .row{
		background-color: #2E8B57;
		padding-left: 9%;
		padding-right:9%;
		padding-bottom: 0%;
		padding-top: 0%;
		font-size: 130%;

	}

	.fast_con img{
		width: 100px;
		height: 100px;
	}


	.library_services .row{
		justify-content:center;
	}

	.img-fluid {
		max-width: 100%;
		height: auto;
	}

	.second_image img{
		width:100%;
	}

	.second_fast_con .row{
		background-color: #2E8B57;
		padding-left: 9%;
		padding-right:9%;
		padding-bottom: 0%;
		padding-top: 0%;
		font-size: 130%;
		color:white;
		align-content: center;
	}
	.second_fast_con img{
		width: 100px;
		height: 100px;
		margin-right: 23%;
		margin-left: 23%;
	}

	.Library_extension{
		background-color:#E8E8E8;
		position: absolute;
		top: 250%;
		left: 50%;
		font-size: 100%;
		color:black;
		padding-bottom: 0.5%;
		padding-right: 6%;
		padding-top: 0.8%;
		padding-left: 2%;
		opacity: 0.8;
	}

	.News{
		padding-top:2%;
		padding-bottom: 2%;
		color:white; 
		background-color: #2E8B57;
		padding-left: 10%;
	}

	.carousel{
		background:white;
		padding-top:5%;
		color:black;
	}
	.carousel-item{
		text-align: center;
		min-height: 300px; /* Prevent carousel from being distorted if for some reason image doesn't load */
		
	}

	.carousel-item img{
		width:24%;
	}
	.carousel-caption{
		color:black;
	}

	.carousel-control-prev{
		background-color:#404040;
	}

	.carousel-control-next{
		background-color: #404040;
	}

	.footer_info{
		list-style:none;
		background-color:#404040;
		color:white;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 2%;
		font-size: 80%;
	}

	.footer_info a{
		color:white;
	}

}

